# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Odoo runtime data
odoo_data/
postgres_data/
*/odoo_data/
*/postgres_data/

# Logs
*.log

# VS Code
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db

#Zip
*.zip